body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}
h1 {
  color: beige;
}
h2 {
  color: rgb(255, 255, 255);
  background-color: rgb(70, 197, 197);
  border-radius: 13px;
}
p {
  font-size: large;
  color: rgb(136, 172, 238);
}
.div-1 {
  margin-top: 5px;
  background-color: rgb(37, 199, 102);
  text-align: center;
  border-radius: 13px;
  width: 100%;
}

.estilosBotonModal {
  margin-top: 15 px;
  margin-bottom: 15 px;

  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.estilosModal p {
  color: beige;
}

.secundary {
  background-color: rgb(2, 17, 78);
  margin-top: 5px;
}
.estilosModal {
  background-color: black;
}

.subtitulo{
  margin-top: 20px;
  text-align: center;
}

.item{
  color: black;
}

.txt-item{
  color: rgb(39, 139, 221);
}

#result{
  color: black;
  text-align: center;
  font-size: 15px;
}

.resultado{
  color: black;
  font-style: inherit;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.footer{
  padding: 25px;
  background-color: rgb(245, 237, 237);
  color: black;
  text-align: center;
}
